@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-main: #fdf9f0;
  --color-point: #ff8341;
  --color-sub: #b8af9f;
  --color-yellow: #fcdc6a;
  --color-base-black: #212121;
  --color-base-gray: #888277;
  --color-bright: #fffaf0;
  --color-borderColor: #f4f1eb;
  --color-off-gray: #d9d9d9;
  --color-lineColor: #f4f1eb;
}

@layer components {
  html {
    background-color: var(--color-main);
    color: var(--color-base-black);
    overflow: hidden;
    overscroll-behavior: none;
  }

  body {
    font-family: "EB Garamond", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", sans-serif;
  }

  h2 {
    font-weight: 600;
    @apply text-xl;
  }
}

.nav-shadow {
  box-shadow: -22px 78px 32px 0px rgba(147, 145, 133, 0.01),
    -34px 121px 35px 0px rgba(147, 145, 133, 0),
    0px 2px 12px 0px rgba(204, 197, 194, 1);
}
